## ch2-note2-string.ipynb by PA13

## 문자열:

In [2]:
print("문자열: '")
food = "Python's favorite food is perl"
food

문자열: '

"Python's favorite food is perl"

In [3]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

## 문자열: \ 이용

In [10]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [11]:
say = "\"Python is very easy.\" he says."
say

'"Python is very easy." he says.'

## 문자열: 이스케이프 코드 이용

In [13]:
print("문자열: 이스케이프 코드 이용")
multiline = "Life is too short\nYou need python"
multiline
print(multiline)

문자열: 이스케이프 코드 이용
Life is too short
You need python

In [14]:
# 여러줄 문자열 처리
multiline = """
... Life is too short
... You need python
... """
multiline
print(multiline)

... Life is too short
... You need python
...

## 문자열 연산: 더하기

In [16]:
print("문자열 연산: 더하기")
head = "Python"
tail = " is fun!"
head + tail

문자열 연산: 더하기

'Python is fun!'

## 문자열 연산: 곱하기

In [18]:
print("문자열 연산: 곱하기")
a = "python"
a * 2

문자열 연산: 곱하기

'pythonpython'

In [19]:
# multistring.py
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)

==================================================
I am now coding Python!
==================================================

## 문자열 연산: 길이 구하기 - len()

In [20]:
print("문자열 연산: 길이 구하기 - len()")
a = "Life is too short"
len(a)

문자열 연산: 길이 구하기 - len()

17

## 문자열: 인덱싱이란?

In [24]:
print("문자열: 인덱싱이란?")
a = "Life is too short, You need Python"
a[3]

문자열: 인덱싱이란?

'e'

## 문자열: 인덱싱 활용

In [33]:
print("문자열: 인덱싱 활용")

a = "Life is too short, You need Python"
a[0]

문자열: 인덱싱 활용

'L'

In [34]:
a = "Life is too short, You need Python"
a[-1]

'n'

## 문자열: 슬라이싱이란?

In [35]:
print("문자열: 슬라이싱이란?")
a = "Life is too short, You need Python"
# Life 를 뽑아낼려면 어떻게?
b = a[0] + a[1] + a[2] + a[3]  # 문자열 뎌하기 연산
b

문자열: 슬라이싱이란?

'Life'

In [36]:
print("문자열: 슬라이싱이란?")
a = "Life is too short, You need Python"
# slicing (슬라이싱)
a[0:4]  # 0 <= index < 4

문자열: 슬라이싱이란?

'Life'

In [37]:
a = "Life is too short, You need Python"
a[12:17]

'short'

In [38]:
a = "Life is too short, You need Python"
a[:4]

'Life'

In [39]:
a = "Life is too short, You need Python"
a[19:]

'You need Python'

In [40]:
a = "Life is too short, You need Python"
a[19:-7]

'You need'

## 문자열: 슬라이싱 응용?

In [43]:
print("문자열: 슬라이싱 응용?")
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
date

문자열: 슬라이싱 응용?

'20190909'

In [44]:
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
weather

'Sunny'

In [45]:
a = "20190917Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year,day,weather

('2019', '0917', 'Rainy')

In [119]:
# "Pithon"이라는 문자열을 "Python"으로 바꾸려면?
a = "Pithon"
a[1]
a[1] = 'y

SyntaxError: EOL while scanning string literal (<ipython-input-119-49871d1465d9>, line 4)

In [120]:
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

## ch2-note2-string-formating.ipnyb by PA13

## 문자열: 포매팅이란?

In [49]:
print("문자열: 포매팅이란?")
# 1. 숫자 바로 대입
"I eat %d apples." % 3

문자열: 포매팅이란?

'I eat 3 apples.'

In [50]:
# 2. 문자열 바로 대입
"I eat %s apples." % "five"

'I eat five apples.'

In [51]:
# 3. 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [53]:
# 4. 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)
# 소괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 준다. (튜플로 묶음)

'I ate 10 apples. so I was sick for three days.'

## 문자열: 포맷 코드

In [55]:
# %d, %s, %c, %f, %o, %x, %%
# %s, 묵시적 형변환
"I have %s apples" % 3

'I have 3 apples'

In [56]:
"rate is %s" % 3.234

'rate is 3.234'

In [60]:
"Error is %d%." % 98

ValueError: incomplete format

In [61]:
"Error is %d%%." % 98

'Error is 98%.'

## 문자열: 포맷 코드와 숫자 함께 사용하기

In [66]:
# 1. 정렬과 공백
"%10s" % "hi"

'        hi'

In [67]:
"%-10sjane." % "hi"

'hi        jane.'

In [68]:
# 2. 소수점 표현하기
"%0.4f" % 3.42134234

'3.4213'

In [69]:
"%10.4f" % 3.42134234

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

In [71]:
# 1. 숫자 바로 대입하기
"I eat {0} apples".format(3)

'I eat 3 apples'

In [72]:
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

In [73]:
# 2. 문자열 바로 대입하기
"I eat {0} apples".format("five")

'I eat five apples'

In [74]:
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

In [75]:
# 3. 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [76]:
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

In [78]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [79]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [80]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [81]:
#왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [82]:
#오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [83]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [84]:
# 공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [85]:
# 공백 채우기
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [86]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [87]:
"{0:10.4f}".format(y)

'    3.4213'

In [88]:
# { 또는 } 문자 표현하기
"{{ and }}".format()

'{ and }'

## 문자열: f 문자열 포매팅

In [90]:
print("문자열: f 문자열 포매팅")
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

문자열: f 문자열 포매팅

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [91]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [92]:
# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [93]:
f'{"hi":<10}'  # 왼쪽 정렬

'hi        '

In [94]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [95]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

In [97]:
# 공백 채우기
y = 3.42134234
f"{y:0.4f}"  # 소수점 4자리까지만 표현

'3.4213'

In [98]:
f"{y:10.4f}"  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [99]:
# { } 문자를 표시
f"{{ and }}"

'{ and }'

## 문자열: 관련 내장 함수들

In [101]:
# 문자 개수 세기(count)
a = "hobby"
a.count("b")

2

In [102]:
# 위치 알려주기1(find)
a = "Python is the best choice"
a.find("b")

14

In [103]:
a.find("k")

-1

In [104]:
# 위치 알려주기2(index)
a = "Life is too short"
a.index("t")

8

In [105]:
a.index("k")

ValueError: substring not found

In [106]:
# 문자열 삽입(join)
",".join("abcd")

'a,b,c,d'

In [107]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [108]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
a.upper()

'HI'

In [109]:
# 대문자를 소문자로 바꾸기(lower)
a = "IoT"
a.lower()

'iot'

In [110]:
# 왼쪽 공백 지우기(lstrip)
a = " hi "
a.lstrip()

'hi '

In [111]:
# 오른쪽 공백 지우기(rstrip)
a.rstrip()

' hi'

In [112]:
# 양쪽 공백 지우기(strip)
a.strip()

'hi'

In [113]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [116]:
# 문자열 나누기(split) -> 리스트로 변환하여 반환
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [117]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

In [118]:
#### 도전하기 #####
# format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'